@font-face {
  font-family: "Shrikhand";
  src: url("../fonts/Shrikhand-Regular.woff2") format("woff2"), url("../fonts/Shrikhand-Regular.woff") format("woff"), url("../fonts/Shrikhand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* MEDIA QUERY */
/* VARIABLES */
/* MIXINS */
/* BOUCLES */
.background-alafrancaise {
  background-image: url(../images/restaurants/pages/alafrancaise.jpg);
  height: 300px;
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 250px) {
  .background-alafrancaise {
    height: 200px;
  }
}

.background-lapalettedugout {
  background-image: url(../images/restaurants/pages/lapalettedugout.jpg);
  height: 300px;
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 250px) {
  .background-lapalettedugout {
    height: 200px;
  }
}

.background-lanoteenchantee {
  background-image: url(../images/restaurants/pages/lanoteenchantee.jpg);
  height: 300px;
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 250px) {
  .background-lanoteenchantee {
    height: 200px;
  }
}

.background-ledelicedusens {
  background-image: url(../images/restaurants/pages/ledelicedusens.jpg);
  height: 300px;
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 250px) {
  .background-ledelicedusens {
    height: 200px;
  }
}

/* KEYFRAMES */
@keyframes like-btn {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1.15);
  }
}
@keyframes menu {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes dishes {
  from {
    width: 100%;
  }
  to {
    width: 70%;
  }
}
@keyframes dishes-out {
  from {
    width: 70%;
  }
  to {
    width: 100%;
  }
}
@keyframes check {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}
@keyframes check-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}
@keyframes checkbox {
  0% {
    transform: scaleX(0);
    transform-origin: right;
  }
  100% {
    transform: scaleX(1);
    transform-origin: right;
  }
}
@keyframes checkbox-out {
  0% {
    transform: scaleX(1);
    transform-origin: right;
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}
@keyframes main {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes spinner-load {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spinner {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
/* CSS */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto";
}

button {
  padding: 1em;
  background: linear-gradient(#FF79DA, #9356DC);
  color: #fff;
  border-radius: 50px;
  border-width: 0;
  position: relative;
  z-index: 1;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 250px) {
  button {
    padding: 0.8em;
    font-size: 11px;
  }
}
button:hover::after {
  opacity: 1;
}
button::after {
  content: "";
  border-radius: 50px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(#ff93e1, #a16be0);
  opacity: 0;
  transition: opacity 300ms;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.fa-heart {
  font-size: 22px;
}

i.far.fa-heart:hover + i.fas.fa-heart {
  animation: like-btn 500ms forwards;
}
i.far.fa-heart:active + i.fas.fa-heart {
  animation: like-btn 500ms forwards;
}

i.far.fa-heart {
  position: absolute;
  top: 25%;
  left: 25%;
}

i.fas.fa-heart {
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 25%;
  left: 25%;
  transform: scale(0);
}

.dishes-box__check {
  animation: checkbox-out 500ms both;
}
.dishes-box__content {
  animation: dishes-out 500ms both;
}
.dishes-box .fa-check-circle {
  animation: check-out 500ms both;
}
.dishes-box:hover .dishes-box__content {
  animation: dishes 800ms both;
}
.dishes-box:hover .dishes-box__check .fa-check-circle {
  animation: check 450ms 200ms both;
}
.dishes-box:hover .dishes-box__check {
  animation: checkbox 800ms both;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 800px;
}
@media only screen and (max-width: 250px) {
  .spinner {
    height: 650px;
  }
}
.spinner__circle {
  height: 20px;
  width: 20px;
  background-color: #9356DC;
  border-radius: 50%;
  position: absolute;
  opacity: 0.1;
}
@media only screen and (max-width: 250px) {
  .spinner__circle {
    height: 10px;
    width: 10px;
  }
}
.spinner__circle--1 {
  top: 0;
  left: 50%;
  animation: spinner-load 0.1s 0.1s both;
}
.spinner__circle--2 {
  top: 17%;
  left: 85%;
  animation: spinner-load 0.1s 0.2s both;
}
.spinner__circle--3 {
  top: 50%;
  left: 100%;
  animation: spinner-load 0.1s 0.3s both;
}
.spinner__circle--4 {
  top: 81%;
  left: 85%;
  animation: spinner-load 0.1s 0.4s both;
}
.spinner__circle--5 {
  top: 100%;
  left: 50%;
  animation: spinner-load 0.1s 0.5s both;
}
.spinner__circle--6 {
  top: 81%;
  left: 15%;
  animation: spinner-load 0.1s 0.6s both;
}
.spinner__circle--7 {
  top: 50%;
  left: 0;
  animation: spinner-load 0.1s 0.7s both;
}
.spinner__circle--8 {
  top: 17%;
  left: 15%;
  animation: spinner-load 0.1s 0.8s both;
}

.spinner-box {
  position: relative;
  height: 100px;
  width: 100px;
}
@media only screen and (max-width: 250px) {
  .spinner-box {
    height: 50px;
    width: 50px;
  }
}

.header {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.header img {
  height: 30px;
}
@media only screen and (max-width: 250px), only screen and (min-width: 250px) and (max-width: 350px) {
  .header img {
    height: 15px;
  }
}
.header i {
  position: absolute;
  left: 30px;
  top: 25px;
  color: #000;
}
@media only screen and (max-width: 250px) {
  .header i {
    top: 45px;
    left: 50%;
  }
}
@media only screen and (max-width: 250px), only screen and (min-width: 250px) and (max-width: 350px) {
  .header i {
    font-size: 11px;
  }
}

.main {
  animation: main both;
  animation-delay: 0.9s;
}

main h3 {
  margin: 0;
  margin-bottom: 60px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
@media only screen and (max-width: 500px) {
  main h3 {
    text-align: initial;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 250px) {
  main h3 {
    font-size: 14px;
  }
}

.city-search {
  height: 50px;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 250px) {
  .city-search i {
    font-size: 11px;
    padding: 0.5em;
  }
}
.city-search input {
  height: 50%;
  width: 140px;
  background-color: transparent;
  border: none;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}
@media only screen and (max-width: 250px) {
  .city-search input {
    font-size: 11px;
    width: 100px;
    padding: 0.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.city-search input::placeholder {
  color: #000;
}

.restaurant-search {
  background-color: #F6F6F6;
  text-align: center;
  padding: 3%;
}
.restaurant-search h1 {
  margin: 0;
  font-weight: bold;
}
@media only screen and (max-width: 250px) {
  .restaurant-search h1 {
    font-size: 14px;
  }
}
@media only screen and (min-width: 250px) and (max-width: 350px) {
  .restaurant-search h1 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 250px) {
  .restaurant-search p {
    font-size: 11px;
  }
}
@media only screen and (max-width: 500px) {
  .restaurant-search {
    padding: 12%;
  }
}

.function {
  padding: 8%;
  background-color: #fff;
}

.function-container {
  display: flex;
  justify-content: space-around;
  counter-reset: functionlist;
}
@media only screen and (max-width: 250px) {
  .function-container {
    font-size: 11px;
  }
}
@media only screen and (min-width: 250px) and (max-width: 350px) {
  .function-container {
    font-size: 12px;
    width: 90%;
    margin: auto;
  }
}
@media only screen and (max-width: 500px), only screen and (min-width: 501px) and (max-width: 700px), only screen and (min-width: 701px) and (max-width: 975px) {
  .function-container {
    flex-direction: column;
  }
}
@media only screen and (min-width: 501px) and (max-width: 700px) {
  .function-container {
    width: 70%;
    margin: auto;
  }
}
@media only screen and (min-width: 701px) and (max-width: 975px) {
  .function-container {
    width: 50%;
    margin: auto;
  }
}

.function-container__box {
  display: flex;
  align-items: center;
  padding: 1.5em;
  background-color: #F6F6F6;
  border-radius: 15px;
  position: relative;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 250px) {
  .function-container__box {
    padding: 1em 2em;
    border-radius: 5px;
  }
}
@media only screen and (max-width: 500px), only screen and (min-width: 501px) and (max-width: 700px), only screen and (min-width: 701px) and (max-width: 975px) {
  .function-container__box {
    margin-bottom: 20px;
  }
}
.function-container__box p {
  margin: 0;
  font-weight: bold;
  padding-left: 1em;
}
@media only screen and (max-width: 250px), only screen and (min-width: 250px) and (max-width: 350px) {
  .function-container__box p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.function-container__box::before {
  background-color: #9356DC;
  color: #fff;
  border-radius: 50%;
  counter-increment: functionlist;
  content: counter(functionlist);
  position: absolute;
  left: -10px;
  padding: 0.1em 0.4em;
}
@media only screen and (max-width: 250px) {
  .function-container__box::before {
    left: 0;
  }
}

.function-container__box i {
  width: 20px;
  text-align: center;
  color: #777777;
}
.function-container__box i:hover {
  color: #9356DC;
}

.restaurants {
  background-color: #F6F6F6;
  padding: 3%;
}
@media only screen and (max-width: 500px) {
  .restaurants {
    padding: 8%;
  }
}

.restaurants-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 60%;
  margin: auto;
}
@media only screen and (max-width: 500px) {
  .restaurants-container {
    flex-wrap: nowrap;
    flex-direction: column;
    width: auto;
  }
}
@media only screen and (min-width: 976px) and (max-width: 1290px) {
  .restaurants-container {
    flex-direction: column;
    width: 30%;
  }
}

.restaurants-box {
  margin-bottom: 40px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.restaurants-box a {
  text-decoration: none;
}
.restaurants-box img {
  border-radius: 15px 15px 0 0;
  width: 100%;
}

.restaurants-box__img {
  position: relative;
}
.restaurants-box__img .new {
  background-color: #99E2D0;
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: inherit;
  border-radius: 2px;
}
.restaurants-box__img .new p {
  font-weight: bold;
  padding: 0.5em 1em;
  margin: 0;
  color: #278870;
}

.restaurants-box__content {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurants-box__content a {
  color: #000;
  width: 100%;
}
@media only screen and (max-width: 250px), only screen and (min-width: 250px) and (max-width: 350px) {
  .restaurants-box__content a {
    width: 75%;
  }
}
.restaurants-box__content h2 {
  margin: 0;
  font-size: 20px;
}
@media only screen and (max-width: 250px) {
  .restaurants-box__content h2 {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media only screen and (min-width: 250px) and (max-width: 350px) {
  .restaurants-box__content h2 {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.restaurants-box__content p {
  margin: 0;
  margin-top: 5px;
}
@media only screen and (max-width: 250px) {
  .restaurants-box__content p {
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.restaurant-box__content--icon {
  height: 50px;
  width: 50px;
  position: relative;
}
@media only screen and (max-width: 250px) {
  .restaurant-box__content--icon {
    height: 20px;
    width: 20px;
  }
}
@media only screen and (max-width: 250px) {
  .restaurant-box__content--icon i {
    font-size: 14px;
  }
}

.footer {
  background-color: #373737;
  padding: 3%;
}
@media only screen and (max-width: 250px) {
  .footer ul {
    padding: 8%;
    font-size: 11px;
  }
}
@media only screen and (min-width: 250px) and (max-width: 350px) {
  .footer ul {
    padding: 8%;
  }
}

.footer__link {
  color: #fff;
  list-style: none;
  line-height: 2em;
}
@media only screen and (max-width: 250px) {
  .footer__link {
    line-height: 1.5em;
  }
}
.footer__link--logo {
  font-family: "Shrikhand";
  font-size: 20px;
}
@media only screen and (max-width: 250px) {
  .footer__link--logo {
    font-size: 14px;
  }
}
.footer__link i {
  padding-right: 1.5em;
  width: 25px;
}
@media only screen and (max-width: 250px) {
  .footer__link i {
    padding-right: 1em;
    width: 20px;
  }
}
.footer__link a {
  text-decoration: none;
  color: #fff;
}

/* PAGES */
.content {
  background-color: #F6F6F6;
  padding: 3%;
  margin-top: -50px;
}
.content h1 {
  margin: 0;
  font-family: Shrikhand;
  font-weight: normal;
}
@media only screen and (max-width: 250px) {
  .content h1 {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media only screen and (min-width: 250px) and (max-width: 350px) {
  .content h1 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 500px), only screen and (min-width: 501px) and (max-width: 700px), only screen and (min-width: 701px) and (max-width: 975px) {
  .content {
    border-radius: 50px 50px 0 0;
  }
}
@media only screen and (max-width: 250px), only screen and (min-width: 250px) and (max-width: 350px) {
  .content {
    border-radius: 30px 30px 0 0;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 350px;
  margin: auto;
}
.menu h3 {
  text-align: start;
  margin-bottom: 0;
  margin-top: 30px;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 16px;
}
@media only screen and (max-width: 250px) {
  .menu h3 {
    font-size: 14px;
  }
}
@media only screen and (max-width: 500px) {
  .menu {
    width: auto;
    min-width: auto;
  }
}

.menu__title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 250px) and (max-width: 350px) {
  .menu__title {
    margin-top: 25px;
  }
}
.menu__title--icon {
  position: relative;
  height: 50px;
  width: 50px;
}
@media only screen and (max-width: 250px), only screen and (min-width: 250px) and (max-width: 350px) {
  .menu__title--icon {
    height: 30px;
    width: 30px;
  }
}
@media only screen and (max-width: 250px), only screen and (min-width: 250px) and (max-width: 350px) {
  .menu__title i {
    font-size: 16px;
  }
}

.dishes__title--line {
  height: 3px;
  width: 40px;
  margin-top: 10px;
  background-color: #99E2D0;
}

.dishes__menu {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  transform: scale(0);
}

.starters {
  animation: menu 2s 0.5s both;
}

.main-dishes {
  animation: menu 2s 1s both;
}

.desserts {
  animation: menu 2s 1.5s both;
}

.dishes-box {
  align-items: center;
  justify-content: space-between;
  background-color: #FFF;
  border-radius: 20px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.dishes-box p {
  margin: 0;
}
.dishes-box__content {
  padding: 1em;
}
.dishes-box__name p {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dishes-box__check {
  position: absolute;
  top: 0;
  right: 0;
  transform: scaleX(0);
  text-align: center;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
}

.fa-check-circle {
  transform: scaleX(1);
  padding: 0.8em;
  color: white;
  font-size: 30px;
}
@media only screen and (max-width: 250px) {
  .fa-check-circle {
    padding: 0.8em 0.5em;
  }
}

.dishes-box__description {
  display: flex;
  justify-content: space-between;
  width: 95%;
  color: #373737;
}
.dishes-box__description p {
  padding-top: 0.5em;
  font-size: 14px;
}
.dishes-box__description--price {
  font-weight: bold;
}
.dishes-box__description p:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.order {
  width: 50%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 85px;
}
@media only screen and (max-width: 250px), only screen and (min-width: 250px) and (max-width: 350px) {
  .order {
    width: 70%;
    padding: 1em;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/*# sourceMappingURL=style.css.map */
