.city-search {
    height: 50px;
    background-color: darken($background, 4.8%);
    display: flex;
    justify-content: center;
    align-items: center;
    i {
        @media #{$breakpoint-xxsmall} {
            font-size: 11px;
            padding: 0.5em;
        }
    }
    input {
        height: 50%;
        width: 140px;
        background-color: transparent;
        border: none;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        @media #{$breakpoint-xxsmall} {
            font-size: 11px;
            width: 100px;
            padding: 0.5em;
            @include overflow;
        }
    }
    input::placeholder {
            color: #000;
    }
}