.city-search {
    height: 50px;
    background-color: darken($background, 4.8%);
    @include flexbox;
    i {
        @media #{$breakpoint-xxsmall} {
            font-size: map-get($font-size, x-small);
            padding: 0.5em;
        }
    }
    input {
        height: 50%;
        width: 140px;
        background-color: transparent;
        border: none;
        text-align: center;
        font-weight: bold;
        font-size: map-get($font-size, medium);
        @media #{$breakpoint-xxsmall} {
            font-size: map-get($font-size, x-small);
            width: 100px;
            padding: 0.5em;
            @include overflow;
        }
    }
    input::placeholder {
            color: $black;
    }
}