.footer {
    background-color: darken($background, 75%);
    padding: map-get($padding-layout, small);
    ul {
        @media #{$breakpoint-xxsmall} {
            padding: map-get($padding-layout, medium);
            font-size: map-get($font-size, x-small);
        }
        @media #{$breakpoint-xsmall} {
            padding: map-get($padding-layout, medium);
        }
    }
}

    .footer__link {
        color: $white;
        list-style: none;
        line-height: 2em;
        @media #{$breakpoint-xxsmall} {
            line-height: 1.5em;
        }
        &--logo {
            font-family: 'Shrikhand';
            font-size: map-get($font-size, large);
            @media #{$breakpoint-xxsmall} {
                font-size: map-get($font-size, medium);
            }
        }
        i {
            padding-right: 1.5em;
            width: 25px;
            @media #{$breakpoint-xxsmall} {
                padding-right: 1em;
                width: 20px;
            }
        }
        a {
            text-decoration: none;
            color: $white;
        }
}