.header {
    height: 65px;
    @include flexbox;
    @include box-shadow;
    img {
        height: 30px;
        @media #{$breakpoint-xxsmall}, #{$breakpoint-xsmall} {
            height: 15px;
        }
    }
    i {
        position: absolute;
        left: 30px;
        top: 25px;
        color: $black;
        @media #{$breakpoint-xxsmall} {
            top: 45px;
            left: 50%;
        }
        @media #{$breakpoint-xxsmall}, #{$breakpoint-xsmall} {
            font-size: map-get($font-size, x-small);
        }
    }
}
