.header {
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include box-shadow;
    img {
        height: 30px;
    }
    i {
        position: absolute;
        left: 30px;
        top: 25px;
        color: #000;
    }
}
