.main {
    animation: main both;
    animation-delay: $spinner-duration*8 + $spinner-delay;
}

main h3 {
        margin: 0;
        margin-bottom: 60px;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    @media #{$breakpoint-small} {
        text-align: initial;
        margin-bottom: 20px;
    }
    @media #{$breakpoint-xxsmall} {
        font-size: 14px;
    }
}