.restaurant-search {
    background-color: $background;
    text-align: center;
    padding: map-get($padding-layout, small);
    h1 {
        margin: 0;
        font-weight: bold;
        @media #{$breakpoint-xxsmall} {
            font-size: map-get($font-size, medium);
        }
        @media #{$breakpoint-xsmall} {
            font-size: map-get($font-size, large);
        }
    }
    p {
        @media #{$breakpoint-xxsmall} {
            font-size: map-get($font-size, x-small);
        }
    }
    @media #{$breakpoint-small} {
        padding: map-get($padding-layout, large)
    }
}