.restaurants {
    background-color: $background;
    padding: map-get($padding-layout, small);
    @media #{$breakpoint-small} {
        padding: map-get($padding-layout, medium)
    }
}

.restaurants-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60%;
    margin: auto;
    @media #{$breakpoint-small} {
        flex-wrap: nowrap;
        flex-direction: column;
        width: auto;
    }
    @media #{$breakpoint-xlarge} {
        flex-direction: column;
        width: 30%;
    }
}

.restaurants-box {
    margin-bottom: 40px;
    background-color: $white;
    border-radius: 15px;
    @include box-shadow;
    a {
        text-decoration: none;
    }
    img {
        border-radius: 15px 15px 0 0;
        width: 100%;
    }
}

.restaurants-box__img {
    position: relative;
    .new {
        background-color: $color-tertiary;
        position: absolute;
        top: 15px;
        right: 15px;
        @include flexbox;
        box-sizing: inherit;
        border-radius: 2px;
        p {
            font-weight: bold;
            padding: 0.5em 1em;
            margin: 0;
            color: darken($color-tertiary, 40%);
        }
    }
}

.restaurants-box__content {
        padding: 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            color: $black;
            width: 100%;
            @media #{$breakpoint-xxsmall}, #{$breakpoint-xsmall} {
                width: 75%;
            }
        }
        h2 {
            margin: 0;
            font-size: map-get($font-size, large);
            @media #{$breakpoint-xxsmall} {
                font-size: map-get($font-size, medium);
                @include overflow;
            }
            @media #{$breakpoint-xsmall} {
                font-size: 18px;
                @include overflow;
            }
        }
        p {
            margin: 0;
            margin-top: 5px;
            @media #{$breakpoint-xxsmall} {
                font-size: map-get($font-size, x-small);
                @include overflow;
            }
        }
    }

.restaurant-box__content--icon {
            height: 50px;
            width: 50px;
            position: relative;
            @media #{$breakpoint-xxsmall} {
                height: 20px;
                width: 20px;
            }
            i {
                @media #{$breakpoint-xxsmall} {
                    font-size: map-get($font-size, medium);
                }
            }
}