.restaurant-search {
    background-color: $background;
    text-align: center;
    padding: map-get($padding-layout, small);
    h1 {
        margin: 0;
        font-weight: bold;
    }
    @media #{$breakpoint-small} {
        padding: map-get($padding-layout, large)
    }
}