.restaurant-search {
    background-color: $background;
    text-align: center;
    padding: map-get($padding-layout, small);
    h1 {
        margin: 0;
        font-weight: bold;
    }
    &__button {
        padding: 1em;
        background: linear-gradient($color-secondary, $color-primary);
        color: #fff;
        border-radius: 50px;
        border-width: 0;
        @include box-shadow;
    }
    @media #{$breakpoint-small} {
        padding: map-get($padding-layout, large)
    }
}