.fa-heart {
    font-size: 22px;
}

i.far.fa-heart {
    &:hover + i.fas.fa-heart {
        animation: like-btn 500ms forwards;
    }
    &:active + i.fas.fa-heart {
        animation: like-btn 500ms forwards;
    }
}

i.far.fa-heart {
    position: absolute;
    top: 25%;
    left: 25%;
}

i.fas.fa-heart {
    background-image: linear-gradient($color-secondary, $color-primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 25%;
    left: 25%;
    transform: scale(0);
}