.fa-heart {
    font-size: 22px;
}

i.far.fa-heart {
    &:hover + i.fas.fa-heart {
        animation: like-btn 500ms forwards;
    }
}

i.far.fa-heart {
    position: absolute;
}

i.fas.fa-heart {
    color: $color-primary;
    position: relative;
    transform: scale(0);
}