.content {
    background-color: $background;
    padding: map-get($padding-layout, small);
    margin-top: -50px;
    h1 {
        margin: 0;
        font-family: Shrikhand;
        font-weight: normal;
        @media #{$breakpoint-xxsmall} {
            font-size: 16px;
            @include overflow;
        }
        @media #{$breakpoint-xsmall} {
            font-size: 20px;
        }
    }
    @media #{$breakpoint-small}, #{$breakpoint-medium}, #{$breakpoint-large} {
        border-radius: 50px 50px 0 0;
    }
    @media #{$breakpoint-xxsmall}, #{$breakpoint-xsmall} {
        border-radius: 30px 30px 0 0;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 350px;
    margin: auto;
    h3 {
        text-align: start;
        margin-bottom: 0;
        margin-top: 30px;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 16px;
        @media #{$breakpoint-xxsmall} {
            font-size: 14px;
        }
    } 
    @media #{$breakpoint-small} {
        width: auto;
        min-width: auto;
    } 
}

.menu__title {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 20px;
        margin-bottom: 20px;
        @media #{$breakpoint-xsmall} {
            margin-top: 25px;
        }
        &--icon {
            position: relative;
            height: 50px;
            width: 50px;
            @media #{$breakpoint-xxsmall}, #{$breakpoint-xsmall} {
                height: 30px;
                width: 30px;
            }
        }
        i {
            @media #{$breakpoint-xxsmall}, #{$breakpoint-xsmall} {
                font-size: 16px;
            }
        }
}

.dishes__title--line {
    height: 3px;
    width: 40px;
    margin-top: 10px;
    background-color: $color-tertiary;
}

.dishes__menu {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    transform: scale(0);
}

.starters {
    animation: menu 2s .5s both;
}

.main-dishes {
    animation: menu 2s 1s both;
}

.desserts {
    animation: menu 2s 1.5s both;
}

.dishes-box {
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    border-radius: 20px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    @include box-shadow;
    p {
        margin: 0;
    }
    &__content {
        padding: 1em;
    }
    &__name {
        p {
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &__check {
        position: absolute;
        top: 0;
        right: 0;
        transform: scaleX(0);
        text-align: center;
        background-color: $color-tertiary;
        border-radius: 0 20px 20px 0;
    }
}

.fa-check-circle {
    transform: scaleX(1);
    padding: 0.8em;
    color: white;
    font-size: 30px;
    @media #{$breakpoint-xxsmall} {
        padding: 0.8em 0.5em;
    }
}

.dishes-box__description {
        display: flex;
        justify-content: space-between;
        width: 95%;
        color: darken($background, 75%);
        p {
            padding-top: 0.5em;
            font-size: 14px;
        }
        &--price {
            font-weight: bold;
        }
        p:first-child {
            @include overflow;
        }
}

.order {
    width: 50%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 85px;
    @media #{$breakpoint-xxsmall}, #{$breakpoint-xsmall} {
        width: 70%;
        padding: 1em;
        font-size: 12px;
        @include overflow;
    }
}