@mixin box-shadow($shadow-size: $heading-shadow-size, $shadow-darkness: $shadow-color) {
    box-shadow: $shadow-size $shadow-size 10px $shadow-darkness;
}

@mixin overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}