$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$background: #F6F6F6;
$heading-shadow-size: 2px;
$padding-layout: (small: 3%, medium: 8%, large: 12%);
$restaurants: alafrancaise, lapalettedugout, lanoteenchantee, ledelicedusens;
