$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$background: #F6F6F6;
$heading-shadow-size: 2px;
$shadow-color: rgba(0, 0, 0, 0.3);
$padding-layout: (small: 3%, medium: 8%, large: 12%);
$restaurants: alafrancaise, lapalettedugout, lanoteenchantee, ledelicedusens;
$spinner-duration: .1s;
$spinner-delay: .1s;
